.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.problem-info {
    display: flex;
    flex-direction: column;
}